{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": ["prettier"],
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "semi": [0],
    "arrow-parens": [1, "as-needed"],
    "prefer-promise-reject-errors": [0],
    "object-curly-newline": [0],
    "operator-linebreak": ["error", "after"],
    "guard-for-in": [0],
    "no-restricted-syntax": [0],
    "import/newline-after-import": [0],
    "import/prefer-default-export": [0],
    "import/no-unresolved": [0]
  }
}
